@import '~styles/abstracts/variables';
@import '~styles/abstracts/animations';

section {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

app-grid-item {
  height: 35rem;
  width: 35rem;
  max-width: 75rem;
  margin: 1.5rem;
}

@media screen and (min-width: $screen-s-min) {
  app-grid-item {
    width: 65rem;
    height: 65rem;
  }
}

@media screen and (min-width: $screen-m-min) {
  section {
    margin-left: 9rem;
  }
  app-grid-item {
    height: 75rem;
  }
}