@import '~styles/abstracts/variables';
@import '~styles/abstracts/animations';

section {
  height: 100%;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $screen-m-min) {
    margin-left: 9rem;
    // align-content: center;
  }
}

app-grid-item {
  height: 50rem;
  width: 50rem;
  max-width: 50rem;
  margin: 1.5rem;
}