@import '~styles/abstracts/variables';
@import '~styles/abstracts/animations';

section {
  // height: 100%;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $screen-m-min) {
    margin-left: 9rem;
  }
}
.card {
  max-height: 50rem;
  width: 45rem;
  max-width: 50rem;
  margin: 1.5rem;

  .header-image {
      background-size: cover;
  }

  $lines-show: 9;
  $line-height: 3rem;

  .card-content {
    position: relative;
    height: $line-height*$lines-show;
    line-height: $line-height;
    overflow: hidden;
  }

 .card-content:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: $line-height;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
  }
}