@import '~styles/abstracts/variables';
@import '~styles/abstracts/animations';

section {
  justify-content: center;
  align-items: center;
  align-items: center;
  padding-bottom: 5rem;

  @media screen and (min-width: $screen-m-min) {
    margin-left: 6rem;
  }
}

.references-container {
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: $screen-s-min) {
    width: 58%;
  }
}

$lines-show: 6;
$line-height: 3rem;

.card {
  width: 35rem;
  max-width: 50rem;
  margin: 1.5rem;

  .header-image {
      background-size: cover;
  }

  .card-content {
    position: relative;
    height: $line-height*$lines-show;
    line-height: $line-height;
    overflow: hidden;
  }

 .card-content:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 90%;
    height: $line-height;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255) 50%);
  }
}