@import '~styles/abstracts/variables';

h2 {
    color: $color-black;
}

h3 {
    color: $color-gray;
}

section {
    background-color: $color-white;
    flex-flow: column;

    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    z-index: 4;
}

.navigation {
    display: none;
}

.nav-back {
    flex: 0 0 auto;
    padding-left: 1rem;

    a {
        text-decoration: none;
        cursor: pointer;
    }

    i {
        align-self: center;
    }
    p {
        align-self: center;
    }
}

article {
    background-color: $color-white;

    flex: 0 0 auto;
    justify-content: center;
}

.content {
    flex-flow: column;
    flex: 0 0 auto;
    width: 80%;

    margin: 5rem 5rem 5rem 5rem;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
                0 2px 2px 0 rgba(0,0,0,.14),
                0 1px 5px 0 rgba(0,0,0,.12);
}

.header {
    flex-direction: column;
}

%image-base {
    background-color: $color-white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, .75);
}

.image {
    @extend %image-base;
    height: 25em;
    max-width: 112rem;
}

.image-round {
    @extend %image-base;
    align-self: center;
    height: 25rem;
    width: 25rem;
    margin-top: -9.5rem;
    margin-bottom: 5rem;
    border-radius: 50%;
    border: 3px solid $color-white;
}

.title {
    padding: 0 2rem;
}

.buttons {
    padding: 1rem;
    margin-top: -6rem;

    a {
        background-color: $color-violet;
        margin: .7rem;
    }
}

.text {
    padding: 0 2rem;
}

@media screen and (min-width: $screen-s-min) {
    .image {
        height: 45em;
    }
    .image-round {
        width: 30rem;
        height: 30em;
    }
}

@media screen and (min-width: $screen-m-min) {
    .header {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .image {
        margin-top: -30rem;
        width: 90rem;
    }
    .image-round {
        margin-left: -1rem;
        margin-top: -30rem;
        width: 50rem;
        max-width: 50rem;
        height: 50rem;
    }
    .content  {
        margin-top: 35rem;
    }
    .text {
        padding: 4rem 4rem;
    }
}

@media screen and (min-width: $screen-l-min) {
    .title {
        padding-left: 4rem;
        flex-grow: 5;
    }
    .image {
        width: 90rem;
    }
}

@media screen and (min-width: $screen-xl-min) {
    .title {
        order: 1;
    }
    .image {
        height: 70em;
        margin-left: 4rem;
    }
    .buttons {
        order: 2;
    }
}