md-button-toggle-group {
  margin-left: 0.7%;
  
  .mat-button-toggle-checked{
    background-color: #19124A;
    color: white;
  }

  .mat-button-toggle-checked:nth-child(1) {
    border-radius: 2px 0 0 2px;
  }

  .mat-button-toggle-checked:nth-child(4) {
    border-radius: 0 2px 2px 0;
  }
}