@import '~styles/abstracts/variables';

.nav-back-drop {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 2;
    background-color: $color-black-transparent;
}

nav {
    background-color: $color-white;

    position: fixed;
    left: -30rem;
    width: 30rem;
    height: 100%;

    flex-direction: column;
    justify-content: center;

    z-index: 3;
    overflow: auto;
}

app-navigation-link {
    max-height: 10rem;
}

@media screen and (min-width: $screen-m-min) {
    nav {
        width: 36rem;
        box-shadow: 1px 0px 13px -3px rgba(0, 0, 0, .75) !important;
    }
}

@media screen and (min-width: $screen-xl-min) {
    nav {
        box-shadow: none !important;
    }
}