@import '~styles/abstracts/variables';

.nav-back-drop {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 2;
    background-color: $color-black-transparent;
}

nav {
    background-color: $color-white;
    position: fixed;
    width: 100rem;
    height: 100%;
    left: -95rem;
    flex-direction: column;
    justify-content: center;

    z-index: 3;
    overflow: auto;
}

app-navigation-link {
    max-height: 25rem;
}

@media screen and (min-width: $screen-m-min) {
    nav {
        width: 130rem;
    }
}

@media screen and (min-width: $screen-xl-min) {
    nav {
        box-shadow: none !important;
    }
}