@import '~styles/abstracts/variables';

section {
    flex-direction: column;

    height: 100%;
}

.text {
    div:nth-child(1) {
        flex: 1 0 0;
    }
    p {
        flex: 8 0 0;
        color: $color-gray;
    }
    div:nth-child(3) {
        flex: 1 0 0;
    }
}

img {
    position: fixed;
    right: 0;
    bottom: 0;

    z-index: -1;
    opacity: .5;
}

.resume, .arrow {
    justify-content: center;
    align-content: center;
    align-items: center;

    a {
        text-decoration: none;
    }
}

mat-icon {
    transform: rotate(-90deg);
}

.title {
    div {
        flex: 4 0 6rem;
    }
    h2 {
        flex: 65 0 5rem;
    }
}

@media screen and (min-width: $screen-xs-min) {
    .text {
        div:nth-child(1) {
            flex: 1 0 5rem;
        }
        p {
            flex: 12 0 0;
        }
        div:nth-child(3) {
            flex: 3 0 0;
        }
    }
}

@media screen and (min-width: $screen-l-min) {
    .title {
        div {
            flex: 1 0 8rem;
        }
        h2 {
            flex: 15 0 auto;
        }
    }
}

@media screen and (min-width: $screen-xl-min) {
    .text {
        div:nth-child(3) {
            flex: 5 0 0;
        }
    }
}

@media screen and (min-width: $screen-xxl-min) {
    .title {
        h2 {
            flex: 18 0 auto;
        }
    }
}