<section class="flex-container">
    <div class="flex-item flex-container title">
        <div class="flex-item"></div>
        <h2 class="flex-item">
            {{ summary?.title }}
        </h2>
    </div>
    <div class="flex-item flex-container text">
        <div class="flex-item"></div>
        <p class="flex-item">
            {{ summary?.description }}
        </p>
        <div class="flex-item"></div>
    </div>
    <div class="flex-item flex-container resume">
        <a mat-button href="{{summary?.resume?.data}}">RESUME</a>
    </div>
    <div class="flex-item flex-container arrow">
        <a mat-button href="/skills">
            <mat-icon>arrow_back</mat-icon>
        </a>
    </div>
    <img class="flex-item" src="{{summary?.image?.data}}" alt="{{summary?.image?.name}}">
</section>