@import '~styles/abstracts/functions';
@import '~styles/abstracts/variables';

section {
    flex-direction: column;

    height: 100%;
}

h2 {
    background-color: pink;

    // margin-left: rem(.6);
}

p {
    margin: 0 rem(.3) 0 rem(.3);
}

img {
    position: fixed;
    right: 0;
    bottom: 0;

    z-index: -1;
    opacity: .5;
}

.resume, .arrow {
    justify-content: center;
    align-content: center;
    align-items: center;

    a {
        text-decoration: none;
        padding: rem(.1);
        font-size: rem(1);
    }
}

mat-icon {
    transform: rotate(-90deg);
}

.title {
    div {
        flex: 1 0 6rem;
    }
    h2 {
        flex: 20 0 auto;
    }
}


@media screen and (min-width: $screen-s-min) {
    // h2 {
    //     margin-left: rem(.9);
    // }
    p {
        margin: 0 rem(.6) 0 rem(.6);
    }
}

@media screen and (min-width: $screen-m-min) {
    // h2 {
    //     margin-left: rem(.6);
    // }
    .title {
        div {
            flex-basis: 3rem;
        }
    }
}

@media screen and (min-width: $screen-l-min) {
    // h2 {
    //     margin-left: rem(.8);
    // }
}