@import '~styles/abstracts/variables';
@import '~styles/abstracts/animations';


section {
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  margin: 5rem 1rem 10rem 10rem;
}

.timeline {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: -3rem;
    left: 1.8rem;
    width: .5rem;
    height: calc(100% + 6rem);
    background: linear-gradient(to bottom, $color-white 0%, $color-gray 2%, $color-gray 98%, $color-white 100%);
  }
}

article {
  position: relative;
  margin-bottom: 10rem;
 }

 article:last-child {
   margin-bottom: 5rem;
 }

.date {
  position: absolute;
  top: 31%;
  left: -8rem;
  z-index: 1;
}

.date-marker {
  position: absolute;
  top: 40%;
  left: 2.2rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background: $color-gray;
  transform: translateX(-50%);
}

.content {
  margin-left: 6rem;
  max-width: 60rem;
}

.header-image {
  background-size: cover;
  // width: 8rem;
  // height: 8rem;
}

mat-card-content, .gpa, .header-image{
  display: none;
}

@media screen and (min-width: $screen-s-min) {
  mat-card-content, .gpa, .header-image {
    display: block;
  }
  .content {
    margin-left: 10rem;
  }
  .date {
    left: -10rem;
  }
}

@media screen and (min-width: $screen-m-min) {
  .timeline {
    margin-left: 66rem;
  }
  article:nth-child(even) {
    .date {
      left: 8rem;
    }
    .content {
      margin-left: -66rem;
    }
  }
  // article:nth-child(even) .timeline {
  //   margin-left: 66rem;
  // }
}