<section class="flex-container">
  <div class="timeline flex-item">
      <article class="entry pulse" *ngFor="let school of schools | async">
        <div class="date">
          <p>
            {{ school?.endDate }}
          </p>
        </div>
        <div class="date-marker"></div>
        <div class="content">
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="header-image" [style.background-image]="'url(' + school?.image?.data + ')'"></div>
              <mat-card-title>{{ school?.name }}</mat-card-title>
              <mat-card-subtitle>{{ school?.degree }} Degree in {{ school?.fieldOfStudy }}</mat-card-subtitle>
              <mat-card-subtitle class="gpa" *ngIf="school?.gpa">GPA {{ school?.gpa }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                Graduation Thesis Work: {{ school?.thesis?.name }}
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="detailedView(school?.id)">DETAILS</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </article>
  </div>
</section>