<div class="container">
  <div id="cd-timeline" class="cd-container">
      <div class="cd-timeline-block animate" *ngFor="let school of schools">
        <div class="cd-timeline-img cd-picture">
        </div>
        <div class="cd-timeline-content">
          <md-card>
            <md-card-header>
              <div md-card-avatar class="header-image"></div>
              <md-card-title>{{ school?.name }}</md-card-title>
              <md-card-subtitle>{{ school?.degree }} Degree in {{ school?.fieldOfStudy }}</md-card-subtitle>
              <md-card-subtitle *ngIf="school?.gpa">GPA {{ school?.gpa }}</md-card-subtitle>
            </md-card-header>
            <md-card-content>
              <p>
                Graduation Thesis Work
              </p>
              <p>
                "{{ school?.thesis?.name }}"
              </p>
            </md-card-content>
            <md-card-actions>
              <button md-button>DETAILS</button>
            </md-card-actions>
          </md-card>
          <span class="cd-date">{{ school?.endDate }}</span>
        </div>
      </div>
    </div>
  </div>