<article class="flex-container" [style.background-image]="'url(' + image + ')'">
  <div  class="flex-item"></div>
  <div class="flex-item flex-container content">
    <div class="flex-item flex-container titles">
      <div class="flex-item"></div>
      <div class="flex-item">
        <h3>{{ title }}</h3>
      </div>
      <div class="flex-item">
        <p>{{ subtitle }}</p>
      </div>
      <div class="flex-item"></div>
    </div>
    <div class="flex-item flex-container buttons">
      <div class="flex-item"></div>
      <div class="flex-item">
        <button mat-button *ngIf="!url" (click)="detailedView(id)">{{ buttonText }}</button>
      </div>
      <div class="flex-item">
        <a mat-button href="{{url}}" *ngIf="url">{{ buttonText }}</a>
      </div>
      <div class="flex-item"></div>
    </div>
  </div>
</article>