@import '~styles/abstracts/variables';

article {
    flex-flow: column;

    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;

    div:nth-child(1) {
        flex: 10 0 0;
    }
}

.content {
    flex: 1 0 auto;
    background-color:  rgba(66, 66, 66, .5);

    -webkit-transform: translateY(26rem);
    transform: translateY(26rem);
	transition: transform .3s cubic-bezier(.4, 0, 1, 1);
}

article:hover .content{
    -webkit-transform: none;
    transform: none;
    transition: transform .3s cubic-bezier(0, 0, .2, 1);
}

.titles {
    flex-direction: column;
    justify-content: center;

    flex: 10 0 0;
    overflow: hidden;

    h3, p {
        color: $color-white;
        padding-left: 3.2rem;
        padding-right: 1rem;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    div:nth-child(2) {
        h3 {
            margin-bottom: 1rem;
        }
    }
    div:nth-child(3) {
        p {
            margin-top: 1rem;
        }
    }
}

.buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 1 0 0;

    div:nth-child(1) {
        flex-grow: 50;
    }
    div:nth-child(2) {
        flex: 1 0 0;
        margin: .5rem 1rem .5rem 1rem;
        button {
            color: $color-white;
        }
    }
    div:nth-child(3) {
        flex: 1 0 0;
        margin: .5rem 1rem .5rem 1rem;
        a {
            color: $color-white;
        }
    }
    div:nth-child(4) {
        flex-grow: 50;
    }
}