div {
    margin: 5px;
    // float: right;
    width: 250px;
    height: 250px;
    // transform: rotate(90deg);
    // transform-origin: right top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
}

footer{
    color: white;
    background-color:  rgba(66, 66, 66, .5);
    bottom: -76px;
    width: 100%;
    position: fixed;

    p{
        // padding: 0 0 0 5%;
    }
    p:nth-child(1){
        font-size: 16px;
    }
    p:nth-child(2){
        font-size: 12px;
    }
    button{
        position: fixed;
        // margin: -21% 0 0 60%;
        float: right;
    }
}