@import '~styles/abstracts/variables';
@import '~styles/abstracts/animations';

section {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;

  @media screen and (min-width: $screen-m-min) {
    margin-left: 16rem;
  }
}

.projects {
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 12rem;
}

app-grid-item {
  width: 200rem;
  height: 200rem;
  margin: 1.5rem;
}

@media screen and (min-width: $screen-s-min) {
  app-grid-item {
    width: 200rem;
    height: 200rem;
    max-width: 200rem;
  }
}

