@import '~styles/abstracts/variables';
@import '~styles/abstracts/animations';

section {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  // height: 100%;

  @media screen and (min-width: $screen-m-min) {
    margin-left: 6rem;
  }
}

.projects {
  flex-wrap: wrap;
  justify-content: center;

  // height: 100%;
  margin-top: 2rem;
}

app-grid-item {
  height: 50rem;
  width: 50rem;
  max-width: 50rem;
  margin: 1.5rem;
}