@import '~styles/abstracts/variables';
@import '~styles/abstracts/animations';

section {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;

  @media screen and (min-width: $screen-m-min) {
    margin-left: 6rem;
  }
}

.projects {
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2rem;
}

app-grid-item {
  height: 35rem;
  width: 35rem;
  max-width: 65rem;
  margin: 1.5rem;
}

@media screen and (min-width: $screen-s-min) {
  app-grid-item {
    width: 65rem;
    height: 65rem;
  }
}

