<section class="flex-container">
    <div class="flex-item filter">
        <app-project-category-filter (onFilter)="onFilterChange($event)"></app-project-category-filter>
    </div>
    <div appAnimatePulse class="flex-item flex-container projects">
        <app-grid-item class="flex-item pulse"
        *ngFor="let project of projects"
        [id] = "project?.id"
        [name]="project?.name"
        [subtitle]="project?.subtitle"
        [image]="project?.image?.data"
        [buttonText]="'DETAILS'"
        (onSelected)="onSelected($event)"></app-grid-item>
    </div>
</section>

<!-- <app-project-details [style.visibility]="isVisible"></app-project-details> -->