<div class="header">
    PROJECTS
</div>
<div class="description">
  <div  class="projects-container">
    <!--<md-card *ngFor="let project of projects" class="example-card">
      <md-card-actions>
        <md-card-title>{{ project?.name }}</md-card-title>
        <md-card-subtitle>{{ project?.subtitle }}</md-card-subtitle>
        <button md-button>DETAILS</button>
      </md-card-actions>
    </md-card>-->
    <div *ngFor="let project of projects" class="project">
      <div class="footer animate animate-slide-up">
        <p>{{ project?.name }}</p>
        <p>{{ project?.subtitle }}</p>
        <button md-button>DETAILS</button>
      </div>
    </div>
  </div>
</div>