<section class="flex-item flex-container">
  <div class="flex-item"></div>

  <div *ngFor="let contact of contacts | filterContacts:false" class="flex-item flex-container contact">
    <mat-icon>{{contact?.contactType}}</mat-icon>

    <div [ngSwitch]="contact?.contactType">
      <div *ngSwitchCase="'phone'">
        <p class="blur phone">
          <span *ngFor="let char of contact?.value?.split('')">{{char}}</span>
        </p>
      </div>
      <div *ngSwitchCase="'email'">
        <a href="mailto:{{contact?.value}}">
          {{contact?.value}}
        </a>
      </div>
      <div *ngSwitchDefault>
        <p>
          {{contact?.value}}
        </p>
      </div>
    </div>
  </div>

  <div class="flex-item flex-container social-media-container">
    <div *ngFor="let contact of contacts | filterContacts:true" class="flex-item social-media">
      <a href="{{contact?.value}}">
        <mat-icon svgIcon="{{contact?.contactType}}"></mat-icon>
      </a>
    </div>
  </div>
  <div class="flex-item"></div>
</section>
