@import '~styles/abstracts/functions';
@import '~styles/abstracts/variables';

section {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.contact {
    align-items: center;
    flex-grow: 0;

    p {
        padding-left: rem(.1);
    }

    @media screen and (min-width: $screen-m-min) {
        margin-left: -(rem(.6));
    }
}