@import '~styles/abstracts/functions';
@import '~styles/abstracts/variables';


section {
    background-color: $color-white;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    height: 100%;

    @media screen and (min-width: $screen-m-min) {
        margin-left: -3rem;
        margin-top: -3rem;
    }
}

.contact {
    align-items: center;
    flex-grow: 0;
    p {
        padding-left: rem(.1);
    }
}