@import '~styles/abstracts/variables';


section {
    background-color: $color-white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    @media screen and (min-width: $screen-m-min) {
        margin-left: -3rem;
        margin-top: -3rem;
    }
}

.contact {
    align-items: center;
    flex-grow: 0;
    user-select: none;
    p {
        padding-left: 1.5rem;
    }
}

.social-media-container,
.social-media {
    flex-grow: 0;
}

.social-media {
    padding: 3.5rem 2.5rem;
}

.blur {
    span {
        transition: all .9s ease;
        color: transparent;
        text-shadow: 0 0 15px $color-black;
  }
}
.blur span:hover {
    transition: all .2s ease;
    color: $color-black;
}