$font-family: 'Roboto', sans-serif;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;

$root-size: 10%;

$font-size-h1-xs: 17rem;
$font-size-h1-s: 23rem;
$font-size-h1-m: 25rem;
$font-size-h1-l: 41rem;
$font-size-h1-xl: 41rem;
$font-size-h1-xxl: 61rem;

$font-size-h2-xs: 11rem;
$font-size-h2-s: 15rem;
$font-size-h2-m: 17rem;
$font-size-h2-l: 19rem;
$font-size-h2-xl: 21rem;
$font-size-h2-xxl: 23rem;

$font-size-h3-xs: 11rem;
$font-size-h3-s: 12rem;
$font-size-h3-m: 13rem;
$font-size-h3-l: 14rem;
$font-size-h3-xl: 14rem;
$font-size-h3-xxl: 14rem;

$font-size-p-xs: 9.5rem;
$font-size-p-s: 10.5rem;
$font-size-p-m: 11.5rem;
$font-size-p-l: 12.5rem;
$font-size-p-xl: 12.5rem;
$font-size-p-xxl: 12.5rem;

$screen-xs-min: 360px;
$screen-s-min: 600px;
$screen-m-min: 840px; // full
$screen-l-min: 1024px;
$screen-xl-min: 1280px;
$screen-xxl-min: 1600px;

$color-gray: #95989A;
$color-violet: #673AB7;
$color-black: #000;
$color-white: #fff;
$color-black-transparent: rgba(0, 0, 0, .6);

