@import 'functions';

$font-thin: 'Roboto Thin';
$font-light: 'Roboto Light';
$font-regular: 'Roboto';
$font-medium: 'Roboto Medium';

$font-family: $font-regular;
$font-family-h1: $font-thin;
$font-family-h2: $font-thin;
$font-family-p: $font-light;

$root-size: 10%;

$font-size-h1-xs: 17rem;
$font-size-h1-s: 23rem;
$font-size-h1-m: 25rem;
$font-size-h1-l: 41rem;
$font-size-h1-xl: 41rem;
$font-size-h1-xxl: 61rem;

$font-size-h2-xs: 11rem;
$font-size-h2-s: rem(1.5);
$font-size-h2-m: rem(1.7);
$font-size-h2-l: rem(1.9);
$font-size-h2-xl: rem(2.1);
$font-size-h2-xxl: rem(2.3);

$font-size-p-xs: rem(0.95);
$font-size-p-s: rem(1.05);
$font-size-p-m: rem(1.15);
$font-size-p-l: rem(1.25);
$font-size-p-xl: rem(1.35);
$font-size-p-xxl: rem(1.45);
// $font-size-grid-item-title: rem(0.95);
// $font-size-grid-item-subtitle: rem(0.95);
// $font-size-link-button: rem(0.95);

$screen-xs-min: 360px;
$screen-s-min: 600px;
$screen-m-min: 840px; // full
$screen-l-min: 1024px;
$screen-xl-min: 1280px;
$screen-xxl-min: 1600px;

$color-gray: #95989A;
$color-violet: #673AB7;
$color-black: #000;
$color-white: #fff;
$color-black-trasparent: rgba(0,0,0,.6);

