@import 'abstracts/mixins';
@import 'abstracts/variables';

@include scrollbars(0, slategray);

html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: $root-size;
}

hr {
    background-color: $color-gray;
    height: 1px;
    border: 0;
}

a {
    font-family: $font-family;
    font-weight: $font-weight-regular;
    color: $color-black;
}

p {
    font-family: $font-family;
    font-weight:$font-weight-light;
    font-size: $font-size-p-xs;
    color: $color-black;
}

h1 {
    font-family: $font-family;
    font-weight: $font-weight-thin;
    text-transform: uppercase;
    font-size: $font-size-h1-xs;
    color: $color-black;
}

h2 {
    font-family: $font-family;
    font-weight:$font-weight-thin;
    text-transform: uppercase;
    font-size: $font-size-h2-xs;
    color: $color-gray;
}

h3 {
    font-family: $font-family;
    font-weight:$font-weight-light;
    font-size: $font-size-h3-xs;
}

@media screen and (min-width: $screen-s-min) {
    p {
        font-size:  $font-size-p-s;
    }
    h1 {
        font-size: $font-size-h1-s;
    }
    h2 {
        font-size: $font-size-h2-s;
    }
    h3 {
        font-size: $font-size-h3-s;
    }
}
@media screen and (min-width: $screen-m-min) {
    p {
        font-size:  $font-size-p-m;
    }
    h1 {
        font-size: $font-size-h1-m;
    }
    h2 {
        font-size: $font-size-h2-m;
    }
    h3 {
        font-size: $font-size-h3-m;
    }
}
@media screen and (min-width: $screen-l-min) {
    p {
        font-size:  $font-size-p-l;
    }
    h1 {
        font-size: $font-size-h1-l;
    }
    h2 {
        font-size: $font-size-h2-l;
    }
    h3 {
        font-size: $font-size-h3-l;
    }
}
@media screen and (min-width: $screen-xl-min) {
    p {
        font-size:  $font-size-p-xl;
    }
    h1 {
        font-size: $font-size-h1-xl;
    }
    h2 {
        font-size: $font-size-h2-xl;
    }
    h3 {
        font-size: $font-size-h3-xl;
    }
}
@media screen and (min-width: $screen-xxl-min) {
    p {
        font-size:  $font-size-p-xxl;
    }
    h1 {
        font-size: $font-size-h1-xxl;
    }
    h2 {
        font-size: $font-size-h2-xxl;
    }
    h3 {
        font-size: $font-size-h3-xxl;
    }
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}

.flex-item {
    flex: auto;
}