@import 'abstracts/mixins';
@import 'abstracts/variables';

@include scrollbars(0, slategray);

html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: $root-size;

    a {
        font-family: $font-family;
        color: black;
    }

    p {
        font-family: $font-family-p;
        font-size: $font-size-p-xs;
        color: black;
    }

    h1 {
        font-family: $font-family-h1;
        text-transform: uppercase;
        font-size: $font-size-h1-xs;
        color: black;
    }

    h2 {
        font-family: $font-family-h2;
        text-transform: uppercase;
        font-size: $font-size-h2-xs;
        color: $color-gray;
    }

    @media screen and (min-width: $screen-s-min) {
        p {
            font-size:  $font-size-p-s;
        }
        h1 {
            font-size: $font-size-h1-s;
        }
        h2 {
            font-size: $font-size-h2-s;
        }
    }
    @media screen and (min-width: $screen-m-min) {
        p {
            font-size:  $font-size-p-m;
        }
        h1 {
            font-size: $font-size-h1-m;
        }
        h2 {
            font-size: $font-size-h2-m;
        }
    }
    @media screen and (min-width: $screen-l-min) {
        p {
            font-size:  $font-size-p-l;
        }
        h1 {
            font-size: $font-size-h1-l;
        }
        h2 {
            font-size: $font-size-h2-l;
        }
    }
    @media screen and (min-width: $screen-xl-min) {
        p {
            font-size:  $font-size-p-xl;
        }
        h1 {
            font-size: $font-size-h1-xl;
        }
        h2 {
            font-size: $font-size-h2-xl;
        }
    }
    @media screen and (min-width: $screen-xxl-min) {
        p {
            font-size:  $font-size-p-xxl;
        }
        h1 {
            font-size: $font-size-h1-xxl;
        }
        h2 {
            font-size: $font-size-h2-xxl;
        }
    }
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.flex-item {
    flex: auto;
}