@import '~styles/abstracts/variables';

section {
    flex-flow: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;

    @media screen and (min-width: $screen-m-min) {
      margin-left: 9rem;
    }
  }

  .skills-container {
      max-width: 70%;
      margin-top: -10rem;
  }

  .skill {
      text-transform: uppercase;
  }