@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.skill{
    border-radius: 50%;
    width: 100px;
	height: 100px;
    background-color: #1E00FF;
    text-align: center;
    .name{
        @include vertical-align();
        font-family: Roboto Regular;
        font-size: 20px;
        color: white;
    }
}

