<!--<div class="flex-container">
    <nav role="navigation">
        <ul>
            <li routerLinkActive="active">
                <a routerLink='/home'><span class="dot"></span>home</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink='/skills'><span class="dot"></span>skills</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink='/projects'><span class="dot"></span>projects</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink='/education'><span class="dot"></span>education</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink='/references'><span class="dot"></span>references</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink='/certificates'><span class="dot"></span>certificates</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink='/contacts'><span class="dot"></span>contacts</a>
            </li>
        </ul>
    </nav>
    <section role="main">
        <router-outlet></router-outlet>
    </section>
</div>-->

<md-sidenav-container class="container">
    <md-sidenav #sidenav class="nav">
        <ul>
            <li routerLinkActive="active">
                <a routerLink='/home'><span class="dot"></span>home</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink='/skills'><span class="dot"></span>skills</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink='/projects'><span class="dot"></span>projects</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink='/education'><span class="dot"></span>education</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink='/references'><span class="dot"></span>references</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink='/certificates'><span class="dot"></span>certificates</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink='/contacts'><span class="dot"></span>contacts</a>
            </li>
        </ul>
    </md-sidenav>
    <div class="mini-nav">
        ffff
    </div>
    <div class="content">
        <button type="button" md-button (click)="sidenav.open()">
            Open sidenav
        </button>
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>