<div class="flex-container root-container" >
    <div class="flex-item nav-back-drop" [@navBackdropState]="navBackdropState" 
    (click)="toggleNavState('hide')"></div>
    <nav class="flex-item flex-container"
        [@navState]="navState"
        (mouseenter)="toggleNavState('show')"
        (mouseleave)="toggleNavState('hide')">
        <a class="flex-item flex-container" routerLinkActive="active-link" routerLink='/home'>
            <div class="nav-link flex-container">
                <div class="flex-item text">home</div>
                <div class="flex-item dot">
                    <span></span>
                </div>
            </div>
        </a>
        <a class="flex-item flex-container" routerLinkActive="active-link" routerLink='/skills'>
            <div class="nav-link flex-container">
                <div class="flex-item text">skills</div>
                <div class="flex-item dot">
                    <span></span>
                </div>
            </div>
        </a>
        <a class="flex-item flex-container" routerLinkActive="active-link" routerLink='/projects'>
            <div class="nav-link flex-container">
                <div class="flex-item text">projects</div>
                <div class="flex-item dot">
                    <span></span>
                </div>
            </div>
        </a>
        <a class="flex-item flex-container" routerLinkActive="active-link" routerLink='/education'>
            <div class="nav-link flex-container">
                <div class="flex-item text">education</div>
                <div class="flex-item dot">
                    <span></span>
                </div>
            </div>
        </a>
        <a class="flex-item flex-container" routerLinkActive="active-link" routerLink='/references'>
            <div class="nav-link flex-container">
                <div class="flex-item text">references</div>
                <div class="flex-item dot">
                    <span></span>
                </div>
            </div>
        </a>
        <a class="flex-item flex-container" routerLinkActive="active-link" routerLink='/certificates'>
            <div class="nav-link flex-container">
                <div class="flex-item text">certificates</div>
                <div class="flex-item dot">
                    <span></span>
                </div>
            </div>
        </a>
        <a class="flex-item flex-container" routerLinkActive="active-link" routerLink='/contacts'>
            <div class="nav-link flex-container">
                <div class="flex-item text">contacts</div>
                <div class="flex-item dot">
                    <span></span>
                </div>
            </div>
        </a>
    </nav>
    <div class="flex-item flex-container content-container">
        <header class="flex-item flex-container">
            <mat-icon class="flex-item"
            (click)="toggleNavState('show')"
            (mouseleave)="toggleNavState('hide')">menu</mat-icon>
            <h1 class="flex-item">{{header}}</h1>
        </header>
        <main class="flex-item">
            <router-outlet></router-outlet>
        </main>
        <footer class="flex-item"></footer>
    </div>
</div>

<!-- (touchstart)="swipe($event, 'start')" 
    (touchend)="swipe($event, 'end')" -->