// div.container {
//     // width: 100%;
//     display: -webkit-flex;
// 	display: -ms-flexbox;
// 	display: flex;
//     -webkit-justify-content: start;
// 	-ms-flex-pack: start;
// 	justify-content: start;
// }

.flex-container{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
}

.section {
    align-items: start;
    display: flex;
    justify-content: start;
    background-color: rgb(255, 190, 190);
    // width: 100%;
    height: 100%;
    // flex-grow: 0;
    flex-shrink: 0;
	// display: -webkit-flex;
	// display: -ms-flexbox;
	// display: flex;
    // order: 2;
    // flex: 4;
}

nav {
    display: flex;
    background-color: rgb(255, 200, 200);
    // width: 100%;
    height: 100%;
    // flex-grow: 0;
    flex-shrink: 1;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;

    /*z-index: 999;*/
    // float: none;
    position: fixed;
    // left: 0;
    // bottom: 0;
    // width: 10%;
    // height: 100%;
    // display: -webkit-flex;
	// display: -ms-flexbox;
	// display: flex;
	// -webkit-flex-direction: column;
	// -ms-flex-direction: column;
	// flex-direction: column;
	// margin-right: 0;
    // order: 1;
    // flex: 1;
}

.example-sidenav ul {
    display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    flex-flow: column;

    list-style-type: none;
    // padding: 10%;
    // margin-top: 167%;
}

.example-sidenav nav ul li{
    display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-pack: center;
	align-items: center;
    
    // padding: 5%;
}

.example-sidenav ul a {
    display: -webkit-flex;  
	display: -ms-flexbox;
	display: flex;
    align-self: center;

    // clear: both;
    // padding-left: 5%;
    text-decoration: none;
    text-transform: uppercase;
    color: #95989A;
    opacity: 0;
    transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out;
}

.example-sidenav:hover ul a{
    opacity: 0.2;
}

.example-sidenav ul a:hover {
    opacity: 1;
}

.dot{

    display: -webkit-flex;  
	display: -ms-flexbox;
	display: flex;
    align-self: center;

    // display: block;
    // float: left;
    // margin-top: 4%;
    border-radius: 50%;
    width: 5px;
	height: 5px; 
    border: 1px solid #95989A;
    background-color: white;
    background-repeat: no-repeat;
}

.example-sidenav:hover .active a{
    opacity: 1;
}

.active .dot{
    border: 1px solid #95989A;
    background-color: #95989A !important;
}

// main {
//     // position: fixed;
//     // bottom: 0;
//     // top: 0;
//     // height: 100%;
//     // margin-left: 9.6%;
//     -webkit-order: 1;
// 	-ms-flex-order: 1;
// 	order: 1;
// 	-webkit-flex: 3;
// 	-ms-flex:3;
// 	flex:3;
// }

// .content{
//     position: static;
//     display: block;
//     overflow: visible;
//     width: auto;
//     height: 100%;
//     margin-right: auto;
//     float: none;
//     clear: none;
// }


.example-container {
    position: fixed;    
    width: 100%;
    height: 100%;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}