<div class="flex-container root-container"
    (swiperight)="navMenu.toggleNavState('show')"
    (swipeleft)="navMenu.toggleNavState('hide')">
    <app-navigation-menu #navMenu></app-navigation-menu>
    <div class="flex-item flex-container content-container">
        <header class="flex-item flex-container">
            <mat-icon class="flex-item"
            (mouseenter)="navMenu.toggleNavState('show')">menu</mat-icon>
            <h1 class="flex-item">{{header}}</h1>
        </header>
        <main class="flex-item">
            <app-spinner></app-spinner>
            <router-outlet></router-outlet>
        </main>
    </div>
</div>