div.container {
    width: 100%;
}

nav {
    z-index: 999;
    float: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 10%;
    height: 100%;
}

nav ul {
    list-style-type: none;
    padding: 10%;
    margin-top: 167%;
}

nav ul li{
    padding: 5%;
}

nav ul a {
    clear: both;
    padding-left: 5%;
    text-decoration: none;
    text-transform: uppercase;
    color: #95989A;
    opacity: 0;
    transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out;
}

nav:hover ul a{
    opacity: 0.2;
}

nav ul a:hover {
    opacity: 1;
}

.dot{
    display: block;
    float: left;
    margin-top: 2.5%;
    border-radius: 50%;
    width: 10px;
	height: 10px; 
    border: 1px solid #95989A;
    background-color: white;
    background-repeat: no-repeat;
}

nav:hover .active a{
    opacity: 1;
}

.active .dot{
    border: 1px solid #95989A;
    background-color: #95989A !important;
}

main {
    position: fixed;
    bottom: 0;
    top: 0;
    height: 100%;
    margin-left: 9.6%;
}

.content{
    position: static;
    display: block;
    overflow: visible;
    width: auto;
    height: 100%;
    margin-right: auto;
    float: none;
    clear: none;
}


